html {
  margin: 0;
  padding: 0;
}
:where(
    .css-dev-only-do-not-override-pjilya
  ).ant-ribbon.ant-ribbon-placement-end {
  top: -6px;
}
:where(.css-dev-only-do-not-override-pjilya).ant-layout-header {
  margin-bottom: 25px;
  font-size: 32px;
  font-weight: bolder;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:where(.css-dev-only-do-not-override-pjilya).ant-card .ant-card-body {
  padding-top: 10px;
  overflow-wrap: break-word;
}